<div class="fp-form">
  <div class="card">
    <div class="card-body">
      <h4 class="header">Forgot Password</h4>
      <p class="has-info">
        Please enter your email address below and we will send you link to change your password.
      </p>
      <form #forgetPassword="ngForm" (ngSubmit)="onSubmit(forgetPassword.value, forgetPassword.reset())">
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 name="email"
                 id="email"
                 placeholder="Enter Email..."
                 required
                 [(ngModel)]="formData.email"
                 #email="ngModel"/>
          <div *ngIf="email.errors && (email.dirty || email.touched)"
               class="validation">
            <small [hidden]="!email.errors.required" class="text-danger">
              Email is required.
            </small>
          </div>
        </div>
        <div class="btn-toolbar">
          <button type="submit"
                  [routerLink]="'/dashboard'"
                  [disabled]="!forgetPassword.valid"
                  class="btn btn-primary">Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
